* {
  margin: 0px;
  padding: 0px;
}

.container {
  margin-top:500px;
  perspective: 1300px;
}

.container div {
  width: 600px;
  height: 700px;
  border: 1px solid blue;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -300px;


}


/* 반지름 * 2 = 지름
    지름 * 파이 = 원의 테두리 길이값
    각 div 요소는 해당 원 테두리의 반지름 크기만큼만 z축으로 이동하면
     원통 모양 구현 가능
     ((600 *8) /3.14 ) /2 = 반지름(z축으로 이동할 거리값)
      => 소수점 제외하고 764인데, 764로 하면 화면 전체를 차지 하게 됌
      원통 밖이 아니라 원통 안에서 콘텐츠를 보기 위해 음수로 설정(-764px)
*/

.box1 {
  transform: rotateY(0deg) translateZ(-764px);
}

 .box2 {
  transform: rotateY(45deg) translateZ(-764px);
}

 .box3 {
  transform: rotateY(90deg)  translateZ(-764px);
}



.box4 {
  transform: rotateY(135deg) translateZ(-764px) ;
}

.box5 {
  transform: rotateY(180deg) translateZ(-764px);
}

.box6 {
  transform: rotateY(225deg) translateZ(-764px);
}

 .box7 {
  transform: rotateY(270deg) translateZ(-764px);
}

 .box8 {
  transform: rotateY(315deg) translateZ(-764px);
}

.container #circle div {
 backface-visibility:hidden;
}

@keyframes ani {
  0%{
    transform: rotateY(0deg);
  }
  100%{
  transform: rotateY(360deg);
} }

.container #circle {
  transform-style:preserve-3d;
  animation: ani linear 30s infinite;
}